body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.keyboard {
    width: 900px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    margin-bottom: 5px;
}

.top-row, .row, .bottom-row {
    display: flex;
    justify-content: center;
}

.key {
    flex: 1;
    height: 40px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    box-shadow: 0 0 10px var(--glow-color, rgba(128, 0, 128, 0.9)); 
    background-color: #ffffff;
}

.key:hover {
    background-color: #ffcccc; 
    animation: none; 
    color: #000000;
}

.glow-effect {
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px var(--glow-color, rgba(128, 0, 128, 0.9));
    }
    100% {
        box-shadow: 0 0 15px var(--glow-color, rgba(128, 0, 128, 0.9));
    }
}

#input-field {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.space-key {
    flex-grow: 4;
}

.enter-key, .backspace-key, .tab-key, .capslock-key, .shift-key, .ctrl-key, .win-key, .alt-key, .fn-key {
    height: 40px;
}

.shift-key, .enter-key{
    flex-grow: 1.5;
}

.capslock-key {
    flex: 1.5;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

#warn{
    display: block;
    position: absolute;
    bottom: 500px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    display: inline-block;
    color: white;
    position: absolute;
    left: -60px;
    top: -5px;
    animation: movement 1s ease-in 0.2s infinite;
}

@keyframes movement{
    from{
        color: white;
        transform: translateX(0px);
    }
    to{
        color: red;
        transform: translateX(18px);
    }
}

.capslock-key.active:hover,
.shift-key.active:hover {
    background-color: aquamarine;
    color: black;
}

#message{
    display: block;
    position: absolute;
    bottom: 550px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
